<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	<title>Vibey Bot</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/dashboard.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/DataTables/datatables.min.css" />
</head>

<body>
	<div class="container">
		<h1>Vibey Requests!</h1>
		<div class="row">
			<div class="col left">
				<h2 id="title">Song Requests</h2>
				<div id="clear-queue">
					<button class="delete-queue btn btn-danger btn-sm mb-3"> Clear Queue </button>
				</div>
				<table id="sr-table" class="table table-dark table-hover table-sm">
					<thead>
						<tr>
							<th scope="col">Track Requested</th>
							<th scope="col">Requested By:</th>
							<th scope="col"><i class="far fa-clock" title="Time Requested"></i></th>
							<th scope="col">Edit</th>
						</tr>
					</thead>
					<tbody id="srContainer">
						<% requests.forEach(request => { %>
						<tr width="100%" id="<%= request.id %>">
							<td>
								<% if(request.source === 'spotify'){ %>
								<a class="srLink" href="<%= request.track[0].link %>" target="_blank"><%= request.track[0].name %> -
									<%= request.track[0].artist %></a>
								<a class="spotify" href="<%= request.track[0].uri %>"><i class="fab fa-spotify"
										title="Open in Spotify"></i></a>
								<% } %>
								<% if(request.source === 'youtube'){ %>
								<a class="srLink" href="<%= request.track[0].link %>" target="_blank"><%= request.track[0].name %></a>
								<a class="youtube" href="<%= request.track[0].link %>" target="_blank"><i class="fab fa-youtube"
										title="Open on Youtube"></i></a>
								<% } %>
							</td>
							<td><%= request.requestedBy %></td>
							<td>
								<div class="timeReq" data-time="<%= request.timeOfReq %>"></div>
							</td>
							<td>
								<button class="btn btn-success btn-sm mr-3 p-3 mix-add" data-srID="<%= request.id %>">
									Mix +
								</button>
								<button class="delete btn btn-danger btn-sm" data-srID="<%= request.id %>"
									data-srName="<%= request.track[0].name %>"> <i class="fas fa-minus-circle"></i>
								</button>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>

			<div class="col right">
				<h2>Current Mix</h2>
				<div id="clear-mix">
					<button class="delete-mix btn btn-danger btn-sm mb-3"> Clear Mix </button>
				</div>
				<table id="mix-table" class="table table-dark table-hover table-sm">
					<thead>
						<tr>
							<th scope="col">Track Requested</th>
							<th scope="col">Requested By:</th>
							<th scope="col">Edit</th>
						</tr>
					</thead>
					<tbody id="mixContainer">
						<% mixReqs.forEach(request => { %>
						<tr width="100%" id="<%= request.id %>">
							<td>
								<% if(request.source === 'spotify'){ %>
								<a class="srLink" href="<%= request.track[0].link %>" target="_blank"><%= request.track[0].name %> -
									<%= request.track[0].artist %></a>
								<a class="spotify" href="<%= request.track[0].uri %>"><i class="fab fa-spotify"
										title="Open in Spotify"></i></a>
								<% } %>
								<% if(request.source === 'youtube'){ %>
								<a class="srLink" href="<%= request.track[0].link %>" target="_blank"><%= request.track[0].name %></a>
								<a class="youtube" href="<%= request.track[0].link %>" target="_blank"><i class="fab fa-youtube"
										title="Open on Youtube"></i></a>
								<% } %>
							</td>
							<td><%= request.requestedBy %></td>
							<td>
								<button class=" delete btn btn-danger btn-sm mix" data-srID="<%= request.id %>"
									data-srName="<%= request.track[0].name %>"> Remove from Mix </button>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a href="/logout"><button class="btn btn-danger">Logout</button></a>
				<p class="text-muted text-center">v0.3.0 made with ❤️ by opti_21</p>
			</div>
		</div>
	</div>

	<script src="vendor/jquery/jquery.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="vendor/gsap/TweenMax.min.js"></script>
	<script src="js/moment.min.js"></script>

	<script src="https://js.pusher.com/4.4/pusher.min.js"></script>
	<script src="js/sweetalert2.all.min.js"></script>
	<!-- <script src="js/script.min.js"></script> -->
	<script src="js/script.js"></script>

	<script type="text/javascript" src="vendor/DataTables/datatables.min.js"></script>

</body>

</html>