<!DOCTYPE html>
<html lang="en">

<head>

	<title>Vibey Dashboard</title>
	<%- include('./partials/head') %>
	<link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
	<div class="d-flex bg-dark" id="wrapper">

		<!-- Sidebar -->
		<%- include('./partials/sidebar') %>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<button class="btn btn-dark mr-3" id="menu-toggle"><i class="fas fa-bars"></i></button>
				</nav>
				<% if (isAllowed) { %>
				<!-- Main Content -->
				<h1>Dashboard</h1>
				<!-- <div id="song-stats" class="vibey-card p-3 m-2">
					<h3>Stats</h3>
				</div> -->
				<div class="card-deck p-3">
					<div class="bot-status vibey-card dark-bg p-3 m-2" style="width: 300px; height: 400px;">
						<h3>Bot Status</h3>
						<% if(botConnected) { %>
							<div id="connected" style="width: 100%; text-align: center;">
								<img src="/img/undraw_joyride_hnno.svg" width="200px" height="200px" alt="Sad face">
								<p style="font-size: 20px;" >Vibey is connected to your chat :D</p>
                <a id="disconnect-btn" class="btn btn-danger" href="/api/disconnect/<%= loggedInUser %>" >Disconnect Vibey</a>
							</div>
						
						<% } else { %>
						<div id="not-connected" style="width: 100%; text-align: center;">
							<img src="/img/undraw_feeling_blue_4b7q.svg" width="200px" height="200px" alt="Sad face">
							<p style="font-size: 20px;" >Vibey is not connected to your chat :(</p>
              <a id="connect-btn" class="btn btn-info" href="/api/connect/<%= loggedInUser %>" >Connect Vibey</a>
						</div>
						<% } %> 
					</div>
					<!--<div class="bot-status vibey-card dark-bg p-3 m-2 float-left" style="width: 300px; height: 400px;">-->
						<!--<h3 style="text-align: center;">Connect to Nightbot</h3>-->
						<!--<a id="se-connect-btn" class="btn btn-info" href="/auth/nightbot" >Connect</a>-->
					<!--</div>-->
				<!--</div>-->
				
				<% } else { %>
					<%- include('./partials/noAccess') %>
				<% } %>
			</div>
			<!-- /#page-content-wrapper -->


			<div id="pageInfo" data-channel="<%= channel %>" data-loggedIn="<%= loggedInUser %>" data-enviroment="<%= enviroment %>"></div>
			<!-- /#wrapper -->

			<!-- Menu Toggle Script -->

			<%- include('./partials/sidebar-js') %>
			<script src="/vendor/jquery/jquery.js"></script>
			<% if (isAllowed) { %>
      		<script src="https://cdn.jsdelivr.net/npm/gsap"></script>
			<script src="/js/moment.min.js"></script>
			<script src="/socket.io/socket.io.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
			<script src="/js/dashboard.min.js"></script>
			<% } %>
</body>

</html>
