<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	<title>Vibey Requests</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/overall.css">
	<link rel="stylesheet" href="/css/requests.css">
  <script src="https://kit.fontawesome.com/e363ab566b.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	<div class="d-flex bg-dark" id="wrapper">

		<!-- Sidebar -->
		<%- include ./partials/sidebar.ejs %>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<button class="btn btn-dark mr-3" id="menu-toggle"><i class="fas fa-bars"></i></button>
				</nav>
				<% if (isAllowed) { %>
				<!--<div id="nowplaying">
					<h2>Now Playing</h2>
          TODO: change this section to play selected song 
					<iframe src="https://open.spotify.com/embed/track/5iFwAOB2TFkPJk8sMlxP8g" width="100%" height="80"
						frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>-->
				  <div>
						<div class="row">
							<div class="col left">
								<h2 id="title">Song Requests</h2>
								<div id="clear-queue">
									<button class="delete-reqs btn btn-danger btn-sm mb-3"> Clear Queue </button>
								</div>
								<div id="requests">
									<!-- Songs Go here -->
								</div>
							</div>

							<div class="col right">
								<h2>Current Mix</h2>
								<div id="clear-mix">
									<button class="delete-mix btn btn-danger btn-sm mb-3"> Clear Mix </button>
                  					<!-- <button id="songpoll" class="songpoll btn btn-sm btn-info mb-3" type="button">Start Song Poll</button> -->
								</div>
								<div id="mix">
									<!-- Mix goes here -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<% } else { %>
				<%- include ./partials/noAccess.ejs %>
				<% } %>
			</div>
			<!-- /#page-content-wrapper -->


			<div id="pageInfo" data-channel="<%= channel %>" data-loggedIn="<%= loggedInUser %>"></div>
			<!-- /#wrapper -->

			<!-- Menu Toggle Script -->

			<%- include ./partials/sidebar-js.ejs %>
			<script src="/vendor/jquery/jquery.js"></script>
			<% if (isAllowed) { %>
      		<script src="https://cdn.jsdelivr.net/npm/gsap"></script>
			<script src="/js/moment.min.js"></script>
			<script src="/socket.io/socket.io.js"></script>
			<script src="/js/sweetalert2.all.min.js"></script>
			<script src="/js/requests.js"></script>
			<% } %>
</body>

</html>
